//全局样式
.bbase-ui-itemcheck.ui-itemcheck {
  .ui-item-check {
    float: left;
    margin-right: 2px;
    cursor: pointer;
    text-align: center;
    position: relative;
    line-height: normal;
  }
  .ui-item-check .check-icon {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 14px;
    height: 14px;
    z-index: 1000;
    color: $mainColor;
    opacity: 0.8;
    border-radius: 0;
  }
  .ui-item-check .bbase-yuandian {
    font-size: 12px;
    line-height: 12px;
  }
  .ui-item-check .bbase-yuandian:before {
    content: "\e6ac";
  }
  .ui-item-check.item-active .check-icon {
    display: block;
  }
  .ui-item-check.item-active {}
  .ui-item-check .cd-r-cur-in-cnt {
    display: inline-block;
    width: 100%;
  }
  .bbase-yuandian {
    background: none;
  }
  .x-icon-info,
  .x-icon-question {
    background: none;
  }
  .item-active {
    background-color: none !important;
  }
}

.bbase-ui-itemcheck.ui-itemcheck .item-active {
  background-color: transparent;
}
// 选择样式
.bbase-ui-itemcheck.ui-item-check-normal{
  .ui-item-check{
       margin-right: 10px;
    border: 1px solid #b9babb;
    padding: 2px 4px;
  }
  .ui-item-check.item-active{
    border: 1px solid $mainColor;
    color: $mainColor;
  }
  .ui-item-check.item-active .check-icon{
    display:block;
  }
  .item-active .toggle{

  }
  .ui-item-check.item-active .bbase-yuandian{
    display:none;
  }
  .ui-item-check .check-icon{
         height: 0;
    width: 0;
    top: 0;
    border-width: 8px 0px 0px 8px;
    border-style: solid;
    border-color: #5289db transparent transparent transparent;
    opacity: 0.8;
  }
}
// 文字样式
.bbase-ui-itemcheck.ui-item-check-text{
  .ui-item-check{
    margin-right:10px;
  }
  .ui-item-check.item-active .check-icon{
    display:none;
  }
  .item-active .toggle{
    color: $mainColor;
  }
}
// 按钮样式
.bbase-ui-itemcheck.ui-item-check-btn {
  .ui-item-check {
    padding: 2px 4px;
    border: 1px solid transparent;
  }
  .item-active{
        visibility: visible;
    border-color: #5289db;
    background-color: #5289db;
    color: #fff;
  }
  .ui-item-check .bbase-yuandian:before {
    content: "";
  }
}

// 单选项
.bbase-ui-itemcheck.ui-item-check-radio {
  .item-check-text {
    vertical-align: middle;
  }
  .ui-item-check {
    margin-right: 4px;
  }
  .ui-item-check .toggle {
    padding-left: 18px;
    text-align: left;
  }
  .ui-item-check .check-icon {
    left: 2px;
    top: 2px;
    border: 1px solid #BBBBBB;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    line-height: 12px;
    display: inline-block;
  }
  .ui-item-check .check-icon .bbase-yuandian {
    font-size: 12px;
    line-height: 13px;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    float: left;
    height: 100%;
    display: inline-block;
    text-indent: 0px;
  }
  .ui-item-check.hover .check-icon {
    border-color: $mainColor;
  }
  .ui-item-check .bbase-yuandian:before {
    content: "";
  }
  .ui-item-check.item-active .bbase-yuandian:before {
    content: "\e601";
  }
}

.ie8 .bbase-ui-itemcheck.ui-item-check-radio .ui-item-check .check-icon {
  border-radius: 10px;
  behavior: url(pie/PIE.htc);
}

// 多选项
.bbase-ui-itemcheck.ui-item-check-checkbox {
  .item-check-text {
    vertical-align: middle;
  }
  .ui-item-check {
    margin-right: 4px;
    .toggle {
      padding-left: 18px;
      text-align: left;
    }
    .check-icon {
      left: 2px;
      top: 2px;
      border: 1px solid #BBBBBB;
      width: 12px;
      height: 12px;
      border-radius: 2px;
      display: inline-block;
      .bbase-yuandian {
        font-size: 12px;
        line-height: 12px;
        margin-left: 0px;
        margin-top: 0px;
        display: inline-block;
        width: 100%;
        height: 100%;
        float: left;
      }
    }
    .bbase-yuandian:before {
      content: "";
    }
  }

  .ui-item-check.hover .check-icon {
    border-color: $mainColor;
  }
  .ui-item-check .bbase-yuandian:before {
    content: "";
  }
  .ui-item-check.item-active .check-icon {
    background: $mainColor;
    color: #fff;
    border-color: $mainColor;
    .bbase-yuandian:before {
      content: "\e6ac";
    }
  }
}

.bbase-ui-itemcheck.ui-item-check-radio,
.bbase-ui-itemcheck.ui-item-check-checkbox {
  line-height: 18px !important;
  padding-top: 6px !important;
}

// tab
.bbase-ui-itemcheck.ui-item-check-tab {
  zoom: 1;
  margin-left: 1px;
  .ui-item-check {
    float: left;
    margin-left: -1px;
        margin-right: 0;
    .toggle {
      display: inline-block;
      padding: 0 12px;
      line-height: 32px;
      color:#666;
      border: 1px solid #e5e5e5;
      background: #f8f8f8;
      min-width: 80px;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  .item-active {
    .toggle {
      border-bottom-color: #fff;
      background: #fff;
    }
  }
  .ui-item-check.item-active .check-icon{
    display:none;
  }
}
