.bbase-ui-select-down{
  position:absolute;
}
.bbase-ui-select.ui-select {
  display: inline-block;
  margin-right: 5px;
  line-height:100%;
  -webkit-box-sizing: initial; -moz-box-sizing:initial;box-sizing: initial;
  *{
    -webkit-box-sizing: initial; -moz-box-sizing:initial;box-sizing: initial;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  .button-group>.button:first-child,
  .uneditable-input,
  input,
  .dpl textarea {
    margin-left: 0;
  }
  .bui-select-input {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
  }
  input[type=password],
  input[type=text],
  select,
  textarea {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-indent: 2px;
    padding: 4px;
    border: 1px solid #d6d6d6;
    vertical-align: middle;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .bui-select-input {
    margin-right: -1px;
  }
  .x-icon-normal {
    text-shadow: none;
    color: #333;
    background-color: #fff;
    border-color: #d6d6d6;
  }
  .x-icon {
    vertical-align: top;
    cursor: pointer;
    height: 28px;
    width: 28px;
    border-left: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0 3px 3px 0;
    display: inline-block;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    overflow: hidden;
    line-height: 22px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    border: 1px solid transparent;
    cursor: inherit;
  }
  .x-icon-normal {
    text-shadow: none;
    color: #868686;
    vertical-align: middle;
    background-color: #fff;
    border-color: #d6d6d6;
    border-left-color: #fff;
    .icon {
      color: #ababab;
      background-image: none;
      font-size: 14px;
    }
  }
  .bbase-caretdown {
    @include ie7icon(\e618);
    font-size:12px;
    display: inline-block;
    margin-top: 4px;
    line-height: 100%;
    width: 14px;
    height: 14px;
    vertical-align: middle;
  }
  .no-result{padding:8px;}
}

.bbase-ui-select .bui-picker {
  z-index: 2050;
  *{
    -webkit-box-sizing: initial; -moz-box-sizing:initial;box-sizing: initial;
  }
}

.bbase-ui-select .bui-overlay {
  position: absolute;
  left: -9999px;
  top: -9999px;
  *{
    -webkit-box-sizing: initial; -moz-box-sizing:initial;box-sizing: initial;
  }
}

.bbase-ui-select .bui-select-list {
  background-color: #fff;
  border: 1px solid #d6d6d6;
    border-top-color: #e4e4e4;
  border-radius: 0px;
  background-clip: padding-box;
  overflow: auto;
  overflow-x: hidden;
  max-height: 200px;
  *{
    -webkit-box-sizing: initial; -moz-box-sizing:initial;box-sizing: initial;
  }
  ul {
    margin: 0;
  }
  .bui-list-item {
    display: block;
    padding: 0;
    color: #666;
    white-space: nowrap;
    cursor: pointer;
  }
  .item-active,
  .bui-list-item-selected {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: lighten($mainColor, 10%);
  }
  .bui-list-item-select-inner {
    padding: 6px;
    font-size:14px;
  }
  .bui-list-item-selected .bui-list-item-select-inner {
    color: #fff;
  }
  .bui-list-item-select:hover {
    text-decoration: none;
    color: #fff;
    background-color: lighten($mainColor, 20%);
  }
  .bui-list-item-select:hover .bui-list-item-select-inner {
    color: #fff;
  }
}
.bbase-ui-select.select-down{
  *{
    -webkit-box-sizing: initial; -moz-box-sizing:initial;box-sizing: initial;
  }
  .bbase-caretdown{
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    margin-top:-4px;
  }
}
