@charset "utf-8";
@mixin ie7icon($inner) {
  *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='#{$inner}');
}
@mixin gradient($start, $end) {
  background: -webkit-gradient(linear, left top, left bottom, from($start), to($end));
  background: -moz-linear-gradient(top, $start, $end);
  //filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$end');
}





$mainColor:#5289db;  // 主题颜色.[;;;;]
$host:/manage;

@import '../../components/bbase/photopick/styles/style';
@import '../../components/bbase/photocrop/styles/style';
@import '../../components/bbase/musicpick/styles/style';
@import '../../components/bbase/photobeautify/styles/style';
@import '../../components/bbase/colorpick/styles/style';
@import '../../components/bbase/colorpanel/styles/style';
@import '../../components/bbase/iconpick/styles/style';
@import '../../components/bbase/photogallery/styles/style';
@import '../../components/bbase/photopanel/styles/style';
@import '../../components/bbase/productpick/styles/style';
@import '../../components/bbase/newspick/styles/style';
@import '../../components/bbase/listpick/styles/style';
@import '../../components/bbase/shapepick/styles/style';
@import '../../components/bbase/navigator-panel/styles/style';
@import '../../components/bbase/albumpick/styles/style';
@import '../../components/bbase/albumpanel/styles/style';
@import '../../components/bbase/product-cate-pick/styles/style';
@import '../../components/bbase/news-cate-pick/styles/style';